@media (min-width: 550px) {
  .desktop-tab-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .desktop-tab-links li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
  }
  .menu-icon-container {
    display: none;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
